header{
    background-color: rgb(237, 202, 3);
    padding: 0;
    height: 150px;
    text-align: center;
}
.login{
    text-align: right;
    margin-right: 2%;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(251, 247, 241);
}
.bola_de_ouro{
    background-color: rgb(237, 202, 3);
    width: 1000px;
    margin-left: 16%;
}

.noticia{
    width: 600px;
    margin-left: 28%;
    
}
.vini{
    text-align: left;
    margin-left: 19%;
    margin-right: 16%;
}
.vinijr{
    background-color: white;
    border: 0;
}
.anuncio{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.voltar{
    text-decoration: underline;
}